*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

body{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
}
table{
    border: 2px solid white;
    background-color: rgba(47, 186, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
}
tr{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    border: 0;
}
td{
    padding: 10px;
}
.input{
    width:297px;
    height: 47px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
}
.button{
    height: 80px;
    width: 80px;
}
.in{
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.button2{
    height: 50px;
    width: 50px;
}
input{
    cursor: pointer;
    background-color: rgb(113, 243, 255);
    border: 0;
}
.button,.button2{
    background-color: rgb(113, 243, 255);
    border-radius: 10px;
    border: 0;
    transition-duration: 0.1s;
}
.button:hover,.button2:hover{
    background-color: rgb(0, 238, 255);
    transform: translateY(-5px);
    box-shadow: 1px 1px white;
}