*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

body{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
}
table{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.6);
}
tr{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    border: 0;
}
.input{
    width:415px;
    height: 50px;
    padding-left: 10px;
}
.button{
    height: 120px;
    width: 120px;
}
.in{
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.button2{
    height: 50px;
    width: 50px;
}
input{
    cursor: pointer;
}
.button,.button2{
    background-color: rgb(225, 225, 225);
}
.button:hover,.button2:hover{
    background-color: rgb(218, 255, 253);
}